.roxo-1{
    background-color: #673bB7;
}

.roxo-2{
    background-color: rgb(242, 239, 248);
}

.roxo-3{
    background-color: rgb(204, 180, 245);
}

.roxo-4{
    background-color: rgb(50, 34, 78);
}

.margin-dp{
    padding-left: 10px;
}

.vert-center{
    margin-top: 10%
}

.btn-purple{
    color:#fff;
    background-color:#673bB7;
    border-color:#673bB7
}

a.purple {
    color: #673bB7;
}

a:hover.purple {
    color: #673bB7;
}

